<div class="div-barra" *ngIf="cel.dia > 0">
  <mat-toolbar>
    <span>
      <mat-label *ngIf="apontamentos.length > 0">APONTAMENTOS - {{cel.data | date : 'dd/MM/yyyy'}}</mat-label>
      <mat-label *ngIf="apontamentos.length == 0">Nenhum Apontamento Para Este Dia!</mat-label>
    </span>
  </mat-toolbar>
</div>
<div class="spin">
  <app-spin-apontamentos></app-spin-apontamentos>
</div>
<div>
  <div *ngIf="apontamentos.length > 0">
    <table class="Browse_Lanc">
      <tr class="coluna-cabec">
        <th>HORÁRIO</th>
        <th>CLIENTE/DESCRIÇÃO/ATIVIDADE</th>
        <th>MOTIVO/OBS</th>
      </tr>
      <tr *ngFor="let lanca of apontamentos">
        <td>
          <div>
            <mat-label class="Browse_Lanc_td">{{lanca.inicial | date : 'HH:mm'}} as {{lanca.final | date : 'HH:mm'}}
            </mat-label>
            <mat-label class="Browse_Lanc_td">{{lanca.horasapon | horaSexagenal}}</mat-label>
          </div>

          <div>
            <mat-label class="Browse_Lanc_td">Resp:{{lanca.resp_razao | firstName}}</mat-label>
          </div>
          <div>
            <mat-label class="Browse_Lanc_td">Resp:{{lanca.exec_razao | firstName}}</mat-label>
          </div>

        <td>
          <div>
            <mat-label class="Browse_Lanc_td">Contr:({{lanca.id_projeto}}) {{lanca.cli_razao}}</mat-label>
          </div>
          <div>
            <mat-label class="Browse_Lanc_td">{{lanca.proj_descricao}}</mat-label>
          </div>
          <div>
            <mat-label class="Browse_Lanc_td">{{lanca.estru_descricao}}</mat-label>
          </div>
        </td>
        <td>
          <div>
            <mat-label class="Browse_Lanc_td">{{lanca.motivo_descricao}}</mat-label>
          </div>
          <div>
            <mat-label class="Browse_Lanc_td">{{lanca.obs}}</mat-label>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="rodape"></div>
