<div class="button-container-right-form ">
    <button class="example-icon" mat-icon-button aria-label="Example icon-button with share icon" (click)="firstPage()">
   <mat-icon>first_page</mat-icon>
</button>
    <button class="example-icon" mat-icon-button aria-label="Example icon-button with share icon" (click)="forwardPage()">
  <mat-icon>chevron_left</mat-icon>
</button>
    <label class="page">{{getAtual()}}</label>
    <button class="mat-icon-button" mat-icon-button aria-label="Example icon-button with share icon" (click)="nextPage()">
<mat-icon>chevron_right</mat-icon>
</button>
    <button class="mat-icon-button" mat-icon-button aria-label="Example icon-button with share icon" (click)="lastPage()">
<mat-icon>last_page</mat-icon>
</button>
</div>