<div class="div-barra">
  <mat-toolbar>
    <span class="example-spacer">Facilitador Lançamentos Horas</span>
    <div class="button-container-right">
      <mat-checkbox class="encerramento" [disableRipple]="false">Considera Almoço</mat-checkbox>
      <mat-checkbox class="encerramento" [disableRipple]="false">Dia Todo</mat-checkbox>
    </div>
  </mat-toolbar>
</div>
<form [formGroup]="formulario" autocomplete="off">
  <div class="col-med-5">
    <mat-form-field appearance="outline" class="col-max">
      <mat-label>Entrada</mat-label>
      <input matInput formControlName="entrada" placeholder="HH:MM" mask="00:00" [Setfocus]="focusEntrada">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-max">
      <mat-label>Saída</mat-label>
      <input matInput formControlName="saida" placeholder="HH:MM" mask="00:00">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-max column-span-2">
      <mat-label>Atividade</mat-label>
      <input matInput formControlName="atividade" readonly="true" tabindex="-1">
    </mat-form-field>
    <div class="col-max">
      <mat-checkbox class="encerramento" formControlName="encerra" [disableRipple]="false">Encerrar Atividade
      </mat-checkbox>
    </div>
  </div>
  <div class="col-med-1">
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Motivo</mat-label>
      <mat-select formControlName="id_motivo">
        <mat-option *ngFor="let motivo of lsMotivos" [value]="motivo.codigo">
          {{motivo.motivo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-med-1">
    <mat-form-field appearance="outline" class="col-max">
      <mat-label>Observação</mat-label>
      <input matInput formControlName="obs" oninput="this.value = this.value.toUpperCase()">
    </mat-form-field>
  </div>
  <div class="button-container-right">
    <button class="buttons" mat-raised-button color="primary" (click)=onSubmit() [disabled]="gravando">Gravar</button>
    <button class="buttons" mat-raised-button color="accent" (click)="onCancel()" [Setfocus]="focusCancelar">Cancelar()
    </button>
  </div>
</form>
<mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="0.30" min="4" max="23.99"
  aria-label="units" showTickMarks discrete>
  <input matSliderThumb>
</mat-slider>
<mat-label>{{horaInicial}}</mat-label>
