<div class="div-barra">
    <mat-toolbar>
        <span class="example-spacer">Projetos: </span>
        <app-navegator [controle]="controlePaginas" (changePage)="onChangePage()"></app-navegator>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="getProjetos()" matTooltip="Novo Projeto" matTooltipPosition="above">
        <mat-icon>rotate_right</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon " (click)="escolha(inclusao,getAcoes()[ 'Inclusao'])" matTooltip="Novo Projeto" matTooltipPosition="above">
              <mat-icon>add_circle_outline</mat-icon>
        </button>
    </mat-toolbar>
</div>
<div class="parametros">
    <form [formGroup]="parametros" autocomplete="off" class="col-med-4">
        <mat-form-field field appearance="outline" class="col-max">
            <mat-label>Ordenação</mat-label>
            <mat-select formControlName="ordenacao">
                <mat-option *ngFor="let op of opcoesOrdenacao" [value]="op">
                    {{op}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field field appearance="outline" class="col-max">
            <mat-label>Pesquisar Por</mat-label>
            <mat-select formControlName="campo">
                <mat-option *ngFor="let op of opcoesCampo" [value]="op">
                    {{op}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="column-span-2">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="filtro">
        </mat-form-field>
    </form>
</div>
<div class="Browse">
    <div class="linha" *ngFor="let projeto of projetos ; index as id">
        <mat-card class="example-card" (click)="escolha(projeto,getAcoes()['Consulta'])" *ngIf="projeto.id !=0">
            <mat-card-actions>
                <span class="button-container-right ">
              <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(projeto,98)"
                  matTooltip = "Financeiro"
                  matTooltipPosition="above">
                  <mat-icon>attach_money</mat-icon>
              </button>
              <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(projeto,99)"
                matTooltip = "Anexar Atividades"
                matTooltipPosition="above">
                <mat-icon>assignment</mat-icon>
              </button>
            <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(projeto,getAcoes()[ 'Edicao'])"
              [matTooltip] = "getTexto().alterar"
              matTooltipPosition="above">
              <mat-icon>edit</mat-icon>
          </button>
            <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(projeto,getAcoes()[ 'Exclusao'])"
              [matTooltip] = "getTexto().excluir"
              matTooltipPosition="above">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
            </mat-card-actions>
            <div *ngIf="projeto.id != 0">
                <mat-card-content>
                    <mat-label class="labelTitleFirst">Código:</mat-label>
                    <mat-label class="labelData">{{projeto.id}}</mat-label>
                    <mat-label class="labelTitle">Descrição:</mat-label>
                    <mat-label class="labelData">{{projeto.descricao}}</mat-label>
                    <mat-label class="labelTitle">Situação:</mat-label>
                    <mat-label class="labelData">{{projeto.status | situacaoProjeto}}</mat-label>
                    <mat-label class="labelTitle">Planejamento:</mat-label>
                    <mat-label class="labelData">{{projeto.status_pl | situacaoPadrao}}</mat-label>
                    <mat-label class="labelTitle">Execução:</mat-label>
                    <mat-label class="labelData">{{projeto.status_ex | situacaoPadrao}}</mat-label>
                </mat-card-content>
                <mat-card-content>
                    <mat-label class="labelTitleFirst">Data Proposta:</mat-label>
                    <mat-label class="labelData">{{projeto.dataprop | date : 'dd/MM/yyyy'}}</mat-label>
                    <mat-label class="labelTitle">Data Projeto:</mat-label>
                    <mat-label class="labelData">{{projeto.dataproj | date : 'dd/MM/yyyy' }}</mat-label>
                    <mat-label class="labelTitle">Data Encerramento:</mat-label>
                    <mat-label class="labelData">{{projeto.dataenc | date : 'dd/MM/yyyy' }}</mat-label>
                </mat-card-content>
                <mat-card-content>
                    <mat-label class="labelTitleFirst">Diretor:</mat-label>
                    <mat-label class="labelData">{{projeto.diretor_razao}}</mat-label>
                    <mat-label class="labelTitle">Cliente:</mat-label>
                    <mat-label class="labelData">{{projeto.cliente_razao}}</mat-label>
                </mat-card-content>
            </div>
        </mat-card>
    </div>

</div>