<p>
  <mat-toolbar color="primary">
    <button routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="setOpcao('')">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Simionato Auditores</span>
    <span *ngIf="showMenu">
      <button mat-button [matMenuTriggerFor]="cadastros" (click)="setOpcao('Cadastros')"
        [ngStyle]="{'color' : opcao==='Cadastros' ? 'red' : 'white' }">Cadastros</button>
      <button mat-button [matMenuTriggerFor]="projetos" (click)="setOpcao('Projetos')"
        [ngStyle]="{'color' : opcao==='Projetos' ? 'red' : 'white' }" *ngIf="okProjetos()">Diretoria</button>
      <button mat-button [matMenuTriggerFor]="planejamento" (click)="setOpcao('Planejamento')"
        [ngStyle]="{'color' : opcao==='Planejamento' ? 'red' : 'white' }"
        *ngIf="okPlanejamento()">Coordenadores</button>
      <button mat-button [matMenuTriggerFor]="execucao" (click)="setOpcao('Execução')"
        [ngStyle]="{'color' : opcao==='Execução' ? 'red' : 'white' }" *ngIf="okExecucao()">Auditores</button>
      <button mat-button [matMenuTriggerFor]="gerencial" (click)="setOpcao('Gerencial')"
        [ngStyle]="{'color' : opcao==='Gerencial' ? 'red' : 'white' }">Gerencial</button>
      <button mat-button [matMenuTriggerFor]="sobre" (click)="setOpcao('Sobre')"
        [ngStyle]="{'color' : opcao==='Sobre' ? 'red' : 'white' }">Sobre</button>
    </span>
    <span>
      <!-- #docregion sub-menu -->
      <mat-menu #cadastros="matMenu">
        <button mat-menu-item routerLink="empresas">Empresas</button>
        <button mat-menu-item routerLink="usuarios">Usuários</button>
        <button mat-menu-item routerLink="clientes">Clientes</button>
        <button mat-menu-item routerLink="users">Grupos De Usuários</button>
        <button mat-menu-item routerLink="economicos">Grupos Econômicos</button>
        <button mat-menu-item routerLink="motivos">Motivos De Apontamento</button>
        <button mat-menu-item routerLink="estruturas">Estruturas</button>
      </mat-menu>
      <mat-menu #projetos="matMenu">
        <button mat-menu-item routerLink="projetos">Contratos</button>
        <button mat-menu-item routerLink="agendaprojeto">Agenda Diretoria</button>
      </mat-menu>
      <mat-menu #planejamento="matMenu">
        <button mat-menu-item routerLink="projetos">Contratos</button>
        <button mat-menu-item routerLink="agendacoordenador">Agenda Coordenadores</button>
      </mat-menu>
      <mat-menu #execucao="matMenu">
        <button mat-menu-item routerLink="execucao">Apontamentos</button>
        <button mat-menu-item routerLink="agendatrabalhos">Agenda Auditores</button>
        <button mat-menu-item routerLink="extratoaudi">Extrato Auditores</button>
      </mat-menu>
      <mat-menu #gerencial="matMenu">
        <button mat-menu-item routerLink="gerencial">Controle Dos Contratos</button>
      </mat-menu>
      <mat-menu #sobre="matMenu">
        <button mat-menu-item routerLink="sobre">Parâmentos Do Sistema</button>
      </mat-menu>
    </span>
    <span class="example-spacer"></span>
    <label>{{getUsuario()}}</label>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="LOGIN"
      matTooltipPosition="above" (click)="onLogin()">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div class="spin">
  <app-spins></app-spins>
</div>
<!--<div>
  <p>Hora Centesimal {{hora | number}}. Hora Convertida Sexagenal {{hora | horaSexagenal}}</p>
  <p>Hora Centesimal {{1.50 | number}}. Hora Convertida Sexagenal {{1.50 | horaSexagenal}}</p>
  <p>Hora Centesimal {{2.00 | number}}. Hora Convertida Sexagenal {{2.00 | horaSexagenal}}</p>
</div>-->
<div class="container">
  <router-outlet></router-outlet>
</div>
