<p>
    <mat-toolbar color="primary">
        <button routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
      </button>
        <span>Simionato Auditores</span>
        <button mat-button [matMenuTriggerFor]="cadastros">Cadastros</button>
        <button mat-button [matMenuTriggerFor]="projetos">Projetos</button>
        <button mat-button [matMenuTriggerFor]="planejamento">Planejamento</button>
        <button mat-button [matMenuTriggerFor]="execucao">Execução</button>
        <button mat-button [matMenuTriggerFor]="sobre">Sobre</button>
        <span>
        <!-- #docregion sub-menu -->
        <mat-menu #cadastros="matMenu">
          <button mat-menu-item routerLink="empresas">Empresas</button>
          <button mat-menu-item routerLink="usuarios">Usuários</button>
          <button mat-menu-item routerLink="clientes">Clientes</button>
          <button mat-menu-item routerLink="users">Grupos De Usuários</button>
          <button mat-menu-item routerLink="economicos">Grupos Econômicos</button>
          <button mat-menu-item routerLink="motivos">Motivos De Apontamento</button>
          <button mat-menu-item routerLink="estruturas">Estruturas</button>
          <button mat-menu-item routerLink="condicoes">Condições Pagto</button>
        </mat-menu>
        <mat-menu #projetos="matMenu">
          <button mat-menu-item routerLink="projetos">Projetos Manutenção</button>
          <button mat-menu-item routerLink="agendaprojeto" >Agenda Projeto</button>
        </mat-menu>
        <mat-menu #planejamento="matMenu">
          <button mat-menu-item routerLink="projetos">Projetos</button>
          <button mat-menu-item routerLink="agendacoordenador" >Agenda Planejamento</button>
        </mat-menu>
        <mat-menu #execucao="matMenu">
          <button mat-menu-item routerLink="execucao">Apontamentos</button>
          <button mat-menu-item routerLink="agendatrabalhos">Agenda Trabalhos</button>
        </mat-menu>
        <mat-menu #sobre="matMenu">
          <button mat-menu-item routerLink="sobre">Parâmentos Do Sistema</button>
        </mat-menu>
      </span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="LOGIN" matTooltipPosition="above">
      <mat-icon>person</mat-icon>
  </button>
    </mat-toolbar>
</p>
<!--<div>
  <p>Hora Centesimal {{hora | number}}. Hora Convertida Sexagenal {{hora | horaSexagenal}}</p>
  <p>Hora Centesimal {{1.50 | number}}. Hora Convertida Sexagenal {{1.50 | horaSexagenal}}</p>
  <p>Hora Centesimal {{2.00 | number}}. Hora Convertida Sexagenal {{2.00 | horaSexagenal}}</p>
</div>-->
<div class="container">
    <router-outlet></router-outlet>
</div>