<p>
    <mat-toolbar>
        <span class="example-spacer">ESTRUTURA: {{subconta}}-{{descricao}}</span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="onRetorno()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    </mat-toolbar>
</p>
<div class="coluna-cabec col-med-6">
    <mat-label class="col-max">CONTA</mat-label>
    <mat-label class="column-span-4">DESCRIÇÃO</mat-label>
    <mat-label class="col-max">TIPO:</mat-label>
    <mat-divider [inset]="true"></mat-divider>
</div>
<div>
    <div *ngFor="let estru of estruturas" class="col-med-6">
        <mat-label class="coluna-codigo col-max">{{estru.subconta | subconta}}</mat-label>
        <mat-label class="coluna-descricao column-span-4">{{estru.descricao}}</mat-label>
        <mat-label class="coluna-tipo col-max">{{estru.tipo | tipoConta}}</mat-label>
        <mat-divider></mat-divider>
    </div>
</div>
