<div>
    <mat-label class="{{getClasse()}} ponteiro-seta" (click)="onClickDia()">{{Celula.dia}}</mat-label>
</div>
<mat-divider *ngIf="Celula.tipo == 1"></mat-divider>
<div div class="col-med-2" *ngIf="Celula.tipo == 1">
    <mat-label class="col-max ponteiro-seta cor-planejada" matTooltip="Horas Planejadas" matTooltipPosition="above" (click)="onClickPlanejado()">{{Celula.horasplanejadas | horaSexagenal}}</mat-label>
    <mat-label class="col-max ponteiro-seta cor-executada" matTooltip="Horas Executadas" matTooltipPosition="above" (click)="onClickExecutado()">{{Celula.horasexecutadas | horaSexagenal}}</mat-label>
</div>