.format-dia-semana {
    color: black;
}

.formata-dia-semana_1 {
    color: black;
    font-weight: 400;
}

.formata-dia-semana_2 {
    color: yellow;
}

.formata-dia-semana_3 {
    color: gray;
}

.ponteiro-seta {
    cursor: pointer;
}

.cor-planejada {
    color: green;
}

.cor-executada {
    color: red
}


/*
     0 -> normal
     1 -> feriado ou domingo
     2 -> férias
     3 -> fora do mês
  */