<div>
    <mat-label class="{{getClasse()}} ponteiro-seta">{{Celula.dia}}</mat-label>
</div>
<mat-divider *ngIf="Celula.tipo == 1"></mat-divider>
<div div class="col-med-2" *ngIf="Celula.tipo == 1">
    <mat-label class="col-max ponteiro-seta cor-planejada" matTooltip="Horas Planejadas" matTooltipPosition="above" (click)="onClickProjeto()">{{Celula.horasplanejadas}}</mat-label>
    <mat-label class="col-max ponteiro-seta cor-executada" matTooltip="Horas Executadas" matTooltipPosition="above" (click)="onClickExecutado()">700</mat-label>
</div>