<div class="div-barra">
  <mat-toolbar>
    <span class="example-spacer">Extrato De Horas</span>
    <button mat-icon-button aria-label="Example icon-button with share icon " matTooltip="Novo Apontamento"
      matTooltipPosition="above">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="onRetorno()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar>
</div>
<app-barra-parametrosv01 [auditores]="auditores" [coordenadores]="coordenadores" [diretores]="diretores">
</app-barra-parametrosv01>
